<style>
    .body {
        background-image: linear-gradient(150deg,#FFFFFF,#DDF3FB);
        height: 100vh;
        width: 100%;
    }

    h1 {
        font-family: Maiandra GD;
        color: #123E8A;
    }

    h4 {
        font-family: Limelight;
        color: #3A54DE;
    }

    p {
        font-family: Ink Free;
        color: #0E0E55;
    }
</style>
<body class="body">
    <div class="container">
        <h1>Welcome To</h1>
        <div class="form-group row">
            <img src="~/images/logo.png" height="300px" width="300px" />

            <div class="col-md-7">
                <h4>Purpose</h4>
                <p>
                    Majority of Singaporeans are feeling stressed out especially during this pandemic,
                    but what is the exact reason that made they felt stress and how can we reduce the stress.
                </p>
                <h4>Our Ideas</h4>
                <p>
                    Using an AI device that can detect the facial emotions of a person.<br />
                    Able to prompt questions to identify if the person is stressed or not.<br />
                    Data collected can be used to analyse and take action to reduce the stress level in Singapore.
                </p>
            </div>

        </div>

    </div>
</body>

