@{
    Layout = "_Product";
}

<script language="Javascript">
    window.addEventListener("load", function () {
        // [1] GET ALL THE HTML ELEMENTS
        var video = document.getElementById("vid-show"),
            snapshot = document.getElementById("snapshot"),
            take = document.getElementById("vid-take");

        // [2] ASK FOR USER PERMISSION TO ACCESS CAMERA
        // WILL FAIL IF NO CAMERA IS ATTACHED TO COMPUTER
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                // [3] SHOW VIDEO STREAM ON VIDEO TAG
                video.srcObject = stream;
                video.play();

                // [4] WHEN WE CLICK ON "TAKE PHOTO" BUTTON
                take.addEventListener("click", function () {
                    // Create snapshot from video
                    var draw = document.createElement("canvas");
                    draw.width = video.videoWidth;
                    draw.height = video.videoHeight;
                    var context2D = draw.getContext("2d");
                    context2D.drawImage(video, 0, 0, video.videoWidth, video.videoHeight);
                    // Upload to server
                    draw.toBlob(function (blob) {
                        var data = new FormData();
                        data.append('upimage', blob);
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', "/Register/snapshot", true);
                        xhr.onload = function () {
                            if (xhr.status == 403 || xhr.status == 404) {
                                alert("Error Loading Photo");
                            } else {
                                document.getElementById("Image").value = this.response;
                                //calert(this.response);
                                var img = document.createElement("img");
                                img.src = "/candidates/" + this.response;
                                img.width = 120;
                                img.height = 80;
                                snapshot.appendChild(img);

                            }
                        };
                        xhr.send(data);
                    });
                });
            })
            .catch(function (err) {
                document.getElementById("vid-controls").innerHTML = "Please enable access and attach a camera";
            });
    });


</script>

@model UserDetails
<style>
    .body {
        background-image: linear-gradient(150deg,#FFFFFF,#DDF3FB);
        height: 100vh;
        width: 100%;
    }

    h1 {
        font-family: Segoe Print;
        text-align: center;
    }

    .form-group {
        font-family: MV Boli;
        text-align: right;
    }
</style>
<body class="body">
    <div class="row">
        <div class="offset-sm-2 col-sm-4">
            <h2>Register</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <form asp-controller="Register"
                  asp-action="Create"
                  method="post" enctype="multipart/form-data">

                <div class="form-group row">
                    <label class="control-label col-sm-2" asp-for="UserName"> Name:</label>
                    <div class="col-sm-8">
                        <input asp-for="UserName" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-sm-2" asp-for="Email">Email:</label>
                    <div class="col-sm-8">
                        <input asp-for="Email" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-sm-2" asp-for="Password">Password:</label>
                    <div class="col-sm-8">
                        <input type="password" asp-for="Password" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-sm-2" asp-for="Image">Image:</label>
                    <div class="col-sm-8">
                        <input type="text" hidden asp-for="Image" class="form-control" />
                        <div id="snapshot" class="col-sm-2 form-group row"></div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-8">
                        <input type="submit" value="Add" class="btn btn-primary" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-8">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>

                @if (ViewData["Message"] != null)
                {
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-8">
                            <div class="alert alert-@ViewData["MsgType"]">
                                <text>@ViewData["Message"]</text>
                            </div>
                        </div>
                    </div>
                }
            </form>

        </div>
        <div class="col-sm-6">
            <div id="vid-controls" class="form-group row">
                <video id="vid-show" autoplay width="240" height="320"></video>
                <div id="vid-canvas"></div>
            </div>
            <div class="form-group row">
                <input id="vid-take" type="button" value="Take Photo" class="btn btn-info" />
            </div>
        </div>
    </div>
</body>